[2021-11-29 09:22] benoe77 opened #1 "Works at the test page but not at xbox.com"
When I want to start a game on xbox.com, the launcher notifies me that there is no controller connected. And it isn't working at any game I tried.
Controls are working at https://gamepad-tester.com/

[2021-11-29 09:32] McBabes opened #2 "Not sure how to start it"
i have the extension downloaded and have a mouse but when i am on xbox cloud gaming iam not sure what to do. Nothing pops up when i start a game or nothing happens when I click on the extension. I am on mac.

[2021-11-29 11:11] joaochris opened #3 "It only works in English!"
Congratulations on the initiative and the project! Unfortunately it only works on xcloud in English. Will it bring support for other languages ​​as well, such as Brazilian Portuguese which is mine?

[2021-11-29 11:42] benoe77 commented on #1
Yes, as hinted in another issue, it works on https://www.xbox.com/en-US/play/ but not at my local site at https://www.xbox.com/hu-HU/play

[2021-11-29 13:40] FlaminSarge opened #4 "[Feature Request] Move 'click-to-enable-mouse-xmc' element under xCloud's menu if it is present"
xCloud's menu is made up of a containing div with class `Menu-module__scrollable___2wUvo StreamMenu-module__menu___3Fqci` (or similar) with a series of divs under it for buttons, e.g. `<div role="button" tabindex="0" class="MenuItem-module__container___Zp_VD Menu-module__menuItem___11v6G StreamMenu-module__menuItem___1AqGY" aria-label="Muted" aria-pressed="false">...</div>`

While I'm not sure if

[2021-11-29 14:24] KaMyKaSii commented on #3
Same issue, just work with the "en-US" site variant.

[2021-11-29 19:50] idolize commented on #1
Hey @benoe77 thanks for filing the issue. I've submitted a new version (v1.1) to the Chrome Web Store which should enable the extension on all locale pages of xcloud now (not just en-us).

Let me know if it works for you!

[2021-11-29 19:51] idolize commented on #3
I've submitted a new version (v1.1) to the Chrome Web Store which should enable the extension on all locale pages of xcloud now (not just en-us).

Let me know if it works for you!

[2021-11-29 19:54] idolize commented on #4
Hey @FlaminSarge that's an interesting idea. It is technically possible for sure, although I'm a little hesitant to couple the code too tightly to specific page elements (especially since the IDs/classes in the DOM appear to use generated hashes in the suffix). Any update Microsoft makes to their UI could break it.

But maybe I can find a way to insert an item without using such specific IDs, or e

[2021-11-29 20:00] benoe77 commented on #1
It works, thanks!

[2021-11-29 20:00] #1 closed

[2021-11-29 20:15] AlcatrazCrysis2 opened #5 "doesn't work for non US user's atleast for me"
https://www.xbox.com/pl-PL/play?xr=shellnav
this is the site where it doesn't work I tried literally everything and still nothing

[2021-11-29 20:16] AlcatrazCrysis2 commented on #3
@idolize it doesn't for pl-PL still.

[2021-11-29 20:22] wigorsnet opened #6 "game is not detecting"
Can someone help me?

it working but doesn't working any game.

Chrome, edge and PT/ENG languages tested.
[
![ss](https://user-images.githubusercontent.com/78506359/143937376-225c4493-dcd6-4cbf-bea7-0c4a4658b54a.png)
](url)

[2021-11-29 20:46] joaochris commented on #3
@idolize I tested it here and it still doesn't work :(

[2021-11-29 20:47] KaMyKaSii commented on #3
My experience is that it doesn't work when you open the https://www.xbox.com/pt-BR/play site and then click on a game from the catalog. But it works if after opening the game, you refresh the page. Maybe the xbox site uses that loading method inside the site itself (like on YouTube) and then the extension can't see the URL change? I believe that if you change the pattern to "https://www.xbox.com/*

[2021-11-29 21:10] joaochris commented on #3
@KaMyKaSii That's really what you said!

[2021-11-29 21:14] AlcatrazCrysis2 commented on #3
@KaMyKaSii it worked now, thanks

[2021-11-29 21:19] idolize commented on #3
Oh that's good info to understand! I'll take a look at the initialization logic and make sure it loads correctly when coming from the root xCloud/Xbox page (I was testing by just going directly to a game URL)

[2021-11-29 22:23] KaMyKaSii commented on #3
I just tested and using the pattern `"*://*.xbox.com/*/play*"` works as expected. Do not load on the home catalog page but loads after open some game.

[2021-11-29 22:34] ricardo404 commented on #6
Same thing around here. It doesn't detect the game but if you put the Preset to test the Gamepad test works correctly.
![image](https://user-images.githubusercontent.com/35298519/143953359-9022f558-da4c-48b4-ba3e-a04e074b85bd.png)

[2021-11-29 22:35] ricardo404 commented on #6
From what I saw, the friend above also uses Xcloud on PT-BR......

[2021-11-30 01:32] idolize commented on #3
@KaMyKaSii thanks for the heads up! Turns out Typeform has a limit of 10 responses in their free plan which I didn't realize when I made it, so I'm going to switch to Google Forms.

And I'll definitely take another look at how to make sure everything loads correctly regardless of how you get to the game page.

For now, I recommend refreshing the page when you get to the game you want to play.

[2021-11-30 02:05] idolize commented on #3
@KaMyKaSii @joaochris @AlcatrazCrysis2 Heads up I submitted a version `1.2` for review - pending right now - which should address these issues.

[2021-11-30 02:06] idolize commented on #6
Heads up I submitted a version `1.2` for review on the Chrome store which should address this. Once it goes live it should work as expected!

For now, try going to the game page and refreshing the page after you get to the game and see if that works.

[2021-11-30 02:07] idolize commented on #5
Heads up I submitted a version 1.2 for review on the Chrome store which should address this. Once it goes live it should work as expected!

For now, try going to the game page and refreshing the page after you get to the game and see if that works.

[2021-11-30 02:09] idolize commented on #4
Hi @FlaminSarge I submitted a version `1.2` for review which moves the mouse click notice up towards the top of the screen so it should obstruct the xcloud menu less. Hopefully for now that makes it easier, but I'll continue looking into better ways to hide it, especially when you move back and forth between the game select screen and an active game session.

[2021-11-30 02:10] idolize commented on #2
Hi @McBabes - try refreshing the page after you load up a game. There was an issue with the extension not activating when you access xcloud via certain pages, although I've submitted a patch (version `1.3`) to the Chrome web store which should address this.

But in the meantime please try refreshing!

[2021-11-30 02:19] ricardo404 commented on #6
![image](https://user-images.githubusercontent.com/35298519/143973819-197857c5-4727-462b-9759-0588efa581f4.png)
Check. After I refreshed the page it normally enabled the function. I'm still wondering why I didn't do it. But it's alright.

[2021-11-30 02:22] ricardo404 commented on #6
Waiting for 1.2 to resolve definitively. Thank you @idolize .

[2021-11-30 13:46] KaMyKaSii commented on #3
Working good know, thanks!

Off topic, do you believe there are still optimizations for converting mouse to analog to have more precise movements or that what you could do has already been done? On the gamepad-tester the analog output seems "crazy" despite being making a movement at almost constant speed and direction

[2021-11-30 16:23] Zino301 opened #7 "Failed to Load Data"
The extension doesnt work for me at the moment. When I click on the extension is just says "Failed to load data" See attached screenshot for reference. I've tried refreshing when the game is loading but it doesnt enable and just gives me that error message.

I am on a VPN, could that be the reason? I'm in the US but the VPN connects to another state within the US
![Screen Shot 2021-11-30 at 10 20

[2021-11-30 17:59] idolize commented on #3
@KaMyKaSii great, glad it's working!

If you turn down the sensitivity control on your preset then the analog stick movement in gamepad-tester will seem smoother, but I've found it's a little too slow to use in actual gameplay like that.

Basically, [there's some math that calculates how far your mouse moved between frames](https://github.com/idolize/xcloud-keyboard-mouse/blob/master/src/browser/b

[2021-11-30 18:56] idolize commented on #7
@Zino301 thanks for posting - that should only happen if it can't access t[he Chrome built-in "sync" storage](https://developer.chrome.com/docs/extensions/reference/storage/), where your presets are stored and updated.

This should be a built-in feature of Chrome, but maybe you have it disabled? https://support.google.com/chrome/answer/185277?hl=en&co=GENIE.Platform%3DDesktop

If so, I can probabl

[2021-11-30 20:52] xsythe commented on #7
Hi there - I'm experiencing the same issue! :(

[2021-12-01 07:06] FlaminSarge commented on #4
Another related option is to allow disabling the prompt for mouse input if another controller is already present. Ran into an issue where I was using an actual controller on xCloud and could not get the extension's prompt to go away until I disabled it, which I suppose is currently intended but is a bit awkward to navigate.

[2021-12-01 15:45] mainarleao commented on #7
I also have the same error, my account is logged in and the sync is active

[2021-12-01 20:15] amkamdar commented on #7
same -- tried removing / re-adding the ext but no luck

[2021-12-01 21:40] idolize commented on #7
Thanks everyone - this is very interesting. I'm uploading a new version of the extension which will provide more details when this error occurs, so once that version goes live (version `2.0`) it'd be great if you could try again and post the details here, because I have not been able to trigger this issue myself.

[2021-12-01 22:03] idolize commented on #3
Closing because the main issue (URL matching only working for `/en-US/`) has been fixed!

[2021-12-01 22:03] #3 closed

[2021-12-01 22:03] idolize commented on #5
Closing because the main issue (URL matching only working for `/en-US/`) has been fixed!

[2021-12-01 22:03] #5 closed

[2021-12-01 22:06] idolize commented on #4
@FlaminSarge I just added another update which should do a better job of hiding the "Click to enable" UI whenever you aren't actively in a game (e.g. if you open a menu etc.)

That's an interesting idea about auto-disabling if there is another controller present - it should be possible to do, although I wonder if that would always be the desired behavior? I.e. what if someone always keeps a gamepa

[2021-12-02 12:12] FlaminSarge commented on #4
Would it be possible to style/position the mouse prompt as a small mouse icon near the `...` and Xbox icons in the top right, only showing up when you hover near that area (in the same way those do)? In general the mouse analog is something I tend not to use in favor of just WASD + OKLsemicolon/etc., so it'd be useful to have the option to put the prompt somewhere entirely out of the way, while st

[2021-12-02 13:45] mainarleao commented on #7
error:

Unable to access settings from storage

Error: "Cannot read property 'ACTIVE_GP_CONF' of undefined"

Please post this issue to GitHub

[2021-12-02 16:38] idolize commented on #4
@FlaminSarge I can add a "minimize" button to the larger "click to enable" UI? My only concern with making it too small is for new users who don't know they have to click that area in order to enable mouse capture (the clicking behavior is a browser requirement to enable pointer lock)...

It's also currently possible to just disable that area in your preset if you don't use it by selecting the "No

[2021-12-02 16:43] idolize commented on #7
@mainarleao Thank you! This is very helpful. Looks like the `chrome.storage.sync.get` returns `undefined` for some reason (the docs say it should return an object).

I've added a guard against this here: https://github.com/idolize/xcloud-keyboard-mouse/commit/ea9a981537f244a82ca0ab4c6e94fdc17eb083e1 which should hopefully resolve the issue for you.

I'm making a new release currently and will subm

[2021-12-02 17:01] amkamdar commented on #7
awesome! thanks :)

[2021-12-02 17:02] idolize commented on #7
@amkamdar @mainarleao Looks like `2.2` is live now! https://chrome.google.com/webstore/detail/keyboard-mouse-for-xbox-x/nmfedkijhhigaikbadoijiolmjjgoimd

[2021-12-02 17:33] amkamdar commented on #7
Finally got it to load!! So that part is working -- but still not able to play. Went to test the preset and it's still showing as no gamepad detected.

[2021-12-02 17:37] amkamdar commented on #7
![image](https://user-images.githubusercontent.com/40646907/144474170-e65b0269-08f5-4df9-997f-1726e28f203e.png)

[2021-12-02 17:59] idolize commented on #7
@amkamdar wow, strange. Have you tried reinstalling the extension and refreshing the gamepad-tester.com page?

I may need to add some kind of debug/logging into the extension to get more information as to what is going wrong. Sorry for the troubles - we will get it figured out eventually.

[2021-12-02 18:44] amkamdar commented on #7
tried that, no luck. No worries at all! I never use microsoft edge but tried the extension on that and it works perfectly !

[2021-12-05 18:00] Katch999 opened #8 "Problems using the mouse via Kiwi Browser"
![Screenshot_20211205-145358_Kiwi Browser](https://user-images.githubusercontent.com/95585172/144757691-1bff6e9e-deba-466c-8526-e6aa3040ea07.jpg)
![Screenshot_20211205-145402_Kiwi Browser](https://user-images.githubusercontent.com/95585172/144757692-1d6cd8b5-5b0a-48f3-985c-f32c4c6bf605.jpg)
When I try to use the extension through the kiwi browser I can't click on this second option so I can't acti

[2021-12-05 21:15] mrbreck opened #9 "Left Stick Left and Left Stick Down not working with Dark Alliance"
Using the extension in Edge. No matter what I bind these to they do not work.

[2021-12-06 23:48] idolize commented on #9
Hi! Does it work in other games - is it only this one game? How about https://gamepad-tester.com/?

[2021-12-07 01:06] mrbreck commented on #9
Only other game I have played so far is Psychonauts 2, but it works fine there.

[2021-12-07 12:25] Jafetter commented on #8
I have the same problem here.

[2021-12-07 12:57] effelle opened #10 "Is possible to extend the support to Chromium browser?"
HI, thanks for this extension, much appreciated.

I have a couple of old Notebook running [CloudReady](https://www.neverware.com/#intro) the official free version of ChromeOS.
The OS is based on Chromium instead of Chrome and does not support Android's VM/framework nor has a stable Linux subsystem, then it's impossible to install another browser like Edge.

On Chromium your extension icon is green

[2021-12-09 02:03] Jafetter commented on #8
After the update the keyboard no longer connects.

[2021-12-09 04:13] julerobb1 opened #11 "No option for change view button"
I have noted there is no option for mapping control to the following button listed as change view (link is an image from bing) : https://dlassets-ssl.xboxlive.com/public/content/1bb39ca3-2391-44a2-9873-d5a2097b632b/GameManual/f1ad788e-3a83-40f1-b7d4-6a8cd0d00bd3/en-US/ButtonMap_Video_v8.jpg

and I was wondering why this is and if there is a mapping for it, how to map one. It is needed for forza ho

[2021-12-09 12:29] cfelipe-ttul opened #12 "[Solved] Version 2.3 is not working on Microsoft Edge"
The version 2.3 from both Chrome Web Store and Edge Add-Ons is not working on my installation of Microsoft Edge.
When I click on "Use" or toggle the button to enable the extension, on its GUI it shows that it is enabled, but when I click outside of the GUI of the extension, nothing happens and the extension automatically disables itself again. Version 2.2 was fine.
Is someone else experiencing the

[2021-12-09 12:47] #12 closed

[2021-12-09 18:00] idolize commented on #11
Hi! I think this button is referred to as "Select" in the UI - apologies if the naming is confusing. I may consider renaming these mappings or including little button images next to the names.

<img width="504" alt="Screen Shot 2021-12-09 at 12 59 57 PM" src="https://user-images.githubusercontent.com/635005/145450641-c1b49f20-5d70-481a-9135-9b2c11a3c995.png">

But let me know if this doesn't work

[2021-12-09 18:15] idolize commented on #10
Hi @effelle I pushed a new version (1.3) with some changes (there was a regex that I realized wasn't supported on older browsers after testing in Safar). You can try updating and see if it works now.

Can you share what version of Chromium (not sure if Chromium has the same version numbers as Chrome) you are on? Do you know if it supports [Manifest v3](https://developer.chrome.com/docs/extensions/

[2021-12-09 18:16] idolize commented on #4
Hi @FlaminSarge I pushed an update (`2.3`) which now includes a "minimize/maximize" feature. Let me know what you think!

<img width="572" alt="Screen Shot 2021-12-09 at 1 16 18 PM" src="https://user-images.githubusercontent.com/635005/145452945-99949c6d-9a4d-4978-a139-707781ce1609.png">
<img width="536" alt="Screen Shot 2021-12-09 at 1 16 23 PM" src="https://user-images.githubusercontent.com/6350

[2021-12-09 18:55] idolize opened #13 "Safari Support (macOS)"
Hello fellow Apple users!

I'm super close to having full support for Safari (the extension works 100% when I test locally in Safari as of commit https://github.com/idolize/xcloud-keyboard-mouse/commit/42fde71bac7498d159b922421f57dd3ac23e7c30)

The only thing blocking a fully-supported Safari release right now is distribution.

Basically - Apple forces Safari extensions to be distributed as native

[2021-12-09 21:21] idolize commented on #7
Closing this issue because it sounds like it is resolved. Feel free to open a new issue or reply here if not! :)

[2021-12-09 21:21] #7 closed

[2021-12-09 21:21] #6 closed

[2021-12-10 06:37] Jafetter commented on #8
It started working again, I believe that for the mouse to work on android you will have to use the same code as in the app "Panda and octopus" which are mobilizers to use the mouse and keyboards in android games. I'm going to make a donation to help you friend you've done something amazing for the community.

[2021-12-10 09:23] FlaminSarge commented on #4
This works well for my use case! It'd definitely be neat to try to include it within the stock Xbox buttons, but that'd be a followup change and definitely more for form than functionality.

[2021-12-11 14:36] DaveFlashNL opened #14 "safari build successful, but can't activate plugin on Mac"
![Schermafbeelding 2021-12-11 om 15 35 02](https://user-images.githubusercontent.com/72280178/145680385-68ecefe1-7420-43f8-8217-37f79228e6ca.png)

 translation it says something about an unsupported manifest version, how to fix? #13 # #

[2021-12-11 16:27] Jafetter commented on #8
Boa tarde, quando configuro um preset para determinado jogo ele não salva.

[2021-12-12 14:16] dbz2k opened #15 "Export/Import Present as an option"
It would be nice to be able to export presents, and easily share and import them.

[2021-12-13 17:40] idolize commented on #15
Hey @dbz2k thanks for the feature request. I'm curious- what is your use case for this? Is it to share presets with other people online or friends?

I've also toyed with the idea of automatically-activating or triggering certain presets based on what game you start playing. Is this something you think would be useful?

[2021-12-13 18:15] idolize commented on #14
Hi I see you are trying to build and run for Safari - make sure you do `npm install` and then `npm run build:safari` (NOT `npm run build` - that will only work on Chrome) first, then open the Xcode project and run from there (you will also need Safari developer mode enabled)

[2021-12-13 18:37] dbz2k commented on #15
My main use case was being able to import the presets to my other computers. It would be nice having having automatically-activating presents.

[2021-12-13 19:52] idolize commented on #15
Thanks. FYI your presets should sync across computers if you are signed into the same Chrome account (and have Chrome sync enabled, which it is by default). I believe Edge + MS account works the same way.

[2021-12-14 10:40] DaveFlashNL commented on #14
I'm a bit of a novice at this, still learning, but to which directory must I do npm install / nom build/run?

[2021-12-14 10:44] DaveFlashNL commented on #14
yes, worked a charm, new build let it self be activated immediately in safari!

[2021-12-14 15:55] idolize commented on #14
Awesome! Glad you got it working. I'm still in panning on setting up  a more official Safari release, but it may take more time due to #13

[2021-12-14 15:55] #14 closed

[2021-12-21 03:09] idolize commented on #15
@dbz2k I just launched an export/import feature in version 2.5 (live now on Chrome Web Store)

[2021-12-21 03:10] #15 closed

[2021-12-21 17:45] bo-carey opened #16 "Middle / Aux Mousedown events aren't supported"
## Problem
I love this project! It would be great to see middle mouse click supported and even side buttons! I have included where the change would need to be made and what would need to be added to support it.

## Proposed Solution
this change could go in src/browser/browserEventProcessor.ts under mouse options (line 135ish):
[code]

I know you would then have to add some things to your mappings

[2021-12-23 14:19] effelle commented on #10
Hi David!
I do apologize for the late reply but somehow I missed the notification.
I agree, a log would have been better to explain the issue, but luckily for us it's not needed anymore.
The latest update of Cloudready on stable-channel (94.4.4)  and using the latest version of your extension solved the issue.
The problem is the device itself, since it has just a 2.4Ghz connection is not really su

[2021-12-23 14:19] #10 closed

[2021-12-24 14:24] Jafetter commented on #16
Friend, would add a way to work the mouse correctly in the kiwi browser on android.

[2021-12-25 18:10] idolize commented on #16
@bo-carey Thanks for the suggestion! I'd be happy to add support for more mouse buttons.

I was not aware of the [`auxclick` event](https://developer.mozilla.org/en-US/docs/Web/API/Element/auxclick_event). It looks like [`mousedown` also supports multiple buttons/middle click types with `event.button`](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/button), but I'll have to give it a

[2021-12-25 19:45] bo-carey commented on #16
Awesome! Please let me know if you ever open the repo up for contributions! 👍

[2021-12-26 16:48] LeftU opened #17 "doesnt work for xcloud"
nothing works

[2021-12-27 16:40] nsxpsa opened #18 "Not working with Halo Infinite on xbox.com"
Thanks for the xtension.
Tried with Gears of war, worked well there.
extension is not working for Halo Infinite on xbox.com.
Otherwise it is working just fine.
Thanks.

[2022-01-01 21:32] superusercode opened #19 "Discord link on README invalid"

[2022-01-03 05:00] #19 closed

[2022-01-03 05:01] idolize commented on #19
Thanks! I just fixed it https://github.com/idolize/xcloud-keyboard-mouse/commit/6804be39ee4c67248b4549b172dbaeb72b6ee6d9

[2022-01-03 23:15] idolize commented on #17
@LeftU did you try reinstalling the extension and refreshing the xcloud page?

[2022-01-04 00:04] mariustmasi2020 opened #20 "Kiwi browser support"
Hi there,u tryed on Kiwy browser Android where I can add-ons google ,keyboard works perfect but mouse keep tell me to click anywhere to a able .can you please help us..m and k works well on GeForce now android so I can use both for sure

[2022-01-05 00:00] idolize commented on #13
For anyone coming here that is interested/daring enough to build and run the extension for Safari themselves, here are the steps needed: https://github.com/idolize/xcloud-keyboard-mouse/tree/master/safari#readme

[2022-01-06 19:36] Schwingi opened #21 "Extension messed up my gamepad mapping on chrome"
First thanks a lot for this extension, worked well on my setup. BUT when I wanted to get back to my controller, the button mapping was all messed up. Even on gamepad-tester the mapping is busted. I tried to remove the extension but the problem persist. Where can I "revert" the changes the extension made?

Thanks in advance, cheers

[2022-01-06 19:59] idolize commented on #21
Hi! This extension does not (and can not) make any changes to your real controller or it's button mapping. All it does is pretend to be a different controller to your browser when the extension is enabled.

It must have been something else to do what you are describing, sorry.

[2022-01-06 19:59] #21 closed

[2022-01-08 03:57] tlzim007 opened #22 "mouse"

[2022-01-08 05:47] idolize commented on #22
Sorry, not sure what to make of this issue. Feel free to elaborate if there is a bug or something else.

[2022-01-08 05:47] #22 closed

[2022-01-16 11:21] jeremy10tie opened #23 "Mouse sensitivity"
hello ,the mouse needs improvement because it is not smooth when I move the mouse, you have to move the mouse several times to get the camera to rotate (not smooth, responsive,
feeling of slowness, delays), sometimes there is a feeling of slowness of 2/3 seconds to turn the camera completely even with a sensitivity of 99, I play on infinite halo and I also have this problem on back 4 blood

[2022-01-17 12:47] AkiraJkr opened #24 "[Suggestion] Database for user-created profiles"
That way, users can upload their own creations to make easy setups for other users, specially for shooter games like Halo Infinite.

The way that the database can be hosted, if GitHub is used, could be like this:

 - Profile Database
     - Games
       - Halo Infinite
       - Forza Horizon 5
       - ETC
     - Universal (Though honestly? I don't see where this would be necessary, specially for

[2022-01-17 19:09] idolize commented on #24
Hey @AkiraJkr - cool idea! Don't most people use custom key bindings for games though? Is the goal here to match the original keybindings for M+KB for each of these games?

[2022-01-17 19:18] idolize commented on #23
Hi @jeremy10tie you will very likely also need to increase the gamepad sensitivity in the game you are playing.

Unfortunately, the extension can only tell the game you have the "stick" tilted to its maximum, but in most games on controller that alone (on default in-game settings) doesn't necessarily mean very much movement of the camera. When you set the sensitivity to 99 in the extension it just

[2022-01-17 19:21] erman44 opened #25 "How do i start the extension??"

[2022-01-17 19:28] idolize commented on #25
Hi @erman44 - just install the extension and go to https://www.xbox.com/play/ - it should start working as soon as you launch a game. (Note the extension only works in browser, such as Chrome and Edge)

If you have any issues with it activating, try reinstalling the extension and reloading the page.

If you want to customize your bindings, open the extension by [pinning the icon to your toolbar](h

[2022-01-17 20:23] AkiraJkr commented on #24
Yep. That would be correct. Or maybe someone figured out a magical configuration that works perfectly with a specific game, and wants to share it with others.

[2022-01-17 20:35] #4 closed

[2022-01-17 20:35] #17 closed

[2022-01-17 22:04] idolize commented on #20
Hi have you looked at https://github.com/idolize/xcloud-keyboard-mouse/issues/8? It seems the user in that post was maybe able to get it working?
I don't have an Android device with Kiwi browser to look into - but the extension uses the pointer lock API.

[2022-01-19 16:02] Siiky405 opened #26 "Spinning uncontrollably"
when i use Keyboard and mouse for xcloud  chrome plugin and i realize the mouse isnt percise so i use the right stick controls so when i hold down for example: W and press right stick left it spins me until i press it again can someone fix it or give me a setting to disable

[2022-01-19 16:21] jeremy10tie commented on #23
I tried to modify the parameters and it does not change anything, it is not fluid it is slow and at times I have to move the mouse 4/5 times on the left instead of 1 movement of the mouse. Without xcloud I have already tested with a friend on the steam version with the same mouse and it's ultra fluid, it responds instantly and no slowness and no need to move the mouse many times for the camera

[2022-01-19 18:15] idolize commented on #26
Hey @Siiky405 thanks for the report. Are you saying you are trying to use a keyboard and a controller at the same time to control the game?

[2022-01-19 18:39] idolize commented on #23
Yeah unfortunately the PC versions are able to enable "mouse control mode" which the xcloud versions are not - thus this extension has to simulate controller stick movements by detecting mouse movements and the experience won't be 100% the same.

If you have more specific feedback or suggestions on how to improve please feel free to comment.

[2022-01-19 18:39] #23 closed

[2022-01-20 23:53] meisme-dev opened #27 "Firefox support"
Title!

[2022-01-21 00:02] idolize commented on #27
Thanks for the request. Firefox is [not an officially supported browser for xCloud](https://support.xbox.com/en-US/help/games-apps/cloud-gaming/supported_browsers), which is why I have not currently brought it to that browser. However, I have tried xCloud in Firefox and it does seem to work.

It should be fairly straightforward to port the extension to Firefox - the main hurdle is just the fact th

[2022-01-22 03:10] BRSAngels opened #28 "buttons on the mouse too muchbuttons on the mouse too much !"
Hello, I wonder if it is possible to have two more buttons in the mouse settings, there are certain games that quick shortcuts by the mouse improve the gameplay, that buttons that mouse gamer has on the left, its service and very good, and have a good day

[2022-01-24 13:24] Napo2k commented on #13
Wrong place to ask this, I know; but I am trying to build this for my Mac, and getting the following errors when running `npm run build:safari`

[code]

[2022-01-24 18:02] idolize commented on #13
Hi @Napo2k did you do `npm install` first?

[2022-01-24 18:39] Napo2k commented on #13
Hello! Yes, I did :)

[2022-01-27 14:45] Djtenia22 opened #29 "Setting with Mouse G502 on R6 Extinction Xcloud"
I don't find a good setting for the AIM.
- i put 100 for sensitivity
- 5 for deadzone
and after between GHUB on logitech and the extension i can't find the good setting to be smooth.
there is a king of accélération on the movement with the mouse. # #

[2022-01-27 18:04] idolize commented on #29
@Djtenia22 try lowering sensitivity in the extension settings and increasing it to max in the **in-game settings for your game**

[2022-01-28 20:11] Cjanzen-1 opened #30 "Extreme input lag"
When I am playing with the emulator I have ~250-500 ms of lag from when I move my mouse or press a key to when the action happens. I have a gigabit connection with low latency, so I don't think my connection is the issue.

[2022-01-28 22:11] idolize commented on #30
This isn't caused by the extension - the extension merely [sets a global state in the javascript](https://github.com/idolize/xcloud-keyboard-mouse/blob/master/src/browser/gamepadSimulator.ts#L127) whenever you press a button - so this should be nearly instant - and if you are using a wired keyboard it should be even faster than a wireless controller!

You can try turning off the extension (or even

[2022-01-28 22:11] #30 closed

[2022-02-01 14:57] AndnixSH opened #31 "Option to disable "click anywhere to resume""
This will be off-topic but can we have an extra option to disable "click anywhere to resume" when the tab or browser is out of focus?
I want the game to be running in background so I can at least hear something in background while waiting for lobby or something.

[2022-02-01 17:39] idolize commented on #31
Oh yeah I actually had this at one point (essentially remove the default blur/focus listeners) but removed it as it was out of scope. I can definitely consider adding it back!

[2022-02-01 21:49] AndnixSH commented on #31
A tampermonkey script would be ok if not in scope

[2022-02-02 01:09] GuiAguirres commented on #26
I`m having the same problem.

The mouse is not precise so we want to use just the keyboard, in this way:

w, a, s, d for left analog;

o, k, l, ";" for right analog;

but if I press for example "a" and "k", it acts like I was pressing "k" continuously until I press "K" ou ";" to stop spinning.

Same thing happens with "W" and "O", If you are pressing one way in the left analog, you can`s press the

[2022-02-02 21:58] lildursh opened #32 "Presets won't save, extension is not active when clicked out of it"
I use the extension, it only works  when I click on it. When I click out, it acts as if I just downloaded it and completely resets the presets, activity, and what not. Worst of all, the extension turns off when I exit out of it. I'm on the Kinza browser, which is a Chromium browser having me to believe it will work. This is the only browser I can use. Please fix this. Thank you.

[2022-02-02 22:52] lildursh commented on #32
If needed, I can provide a video showing the issue.

[2022-02-03 16:37] GuiAguirres commented on #26
@idolize did my comment help you? If you need, I can do more tests

[2022-02-05 00:42] idolize commented on #32
Hi @lildursh I'm not familiar with this browser. I wonder if it supports the `chrome.storage.sync` extension API? If not, the extension likely will not work as it relies on that API to persist all changes while open (and restore them when you re-open it)

[2022-02-08 10:50] AndnixSH opened #33 "High CPU usage"
This extension is using high cpu usage. As soon as i turn off the extension, it went away immediately.

Not only this extension, other extensions also doing the same and they have fixed it. I think it's a browser bug that must be avoided. See this example for the fix https://github.com/brian-girko/always-active/commit/b0954ad681ea93d69e466ec636d2d8aa5926f8a9

[2022-02-09 03:53] idolize commented on #33
Thanks for the issue report. I'd be curious to see if you have any data on this, as I have not noticed much myself.

The extension works by registering listeners for **keyboard events** and (if you have mouse controls enabled) **mouse movement events**.

Outside of these events the extension is doing nothing at all and will not use any CPU (other than if you are editing the configuration in the po

[2022-02-09 11:10] AndnixSH commented on #33
I see but it's still weird that it caused high cpu usage like an extension is getting stuck on something. Forgot to mention that return-youtube-dislike extension got the same issue and it was fixed too, at least for me

Here is the screenshot

![image](https://user-images.githubusercontent.com/40742924/153180999-22e853a6-575b-4265-bbf4-544c354fdda8.png)

![image](https://user-images.githubusercont

[2022-02-13 10:18] prvdph commented on #13
@Napo2k at first I ran `install` with the outdated npm version I already had on my system, got a warning about package-lock incompatibility, and the same error message you had during the build.
Updating node/npm to the newest versions, and running install/build again solved the issue for me.

[2022-02-17 12:56] drea041455 opened #34 "Not opening/activating"
when I click to activate it it does not stay activated and when I go to the game it turns off

[2022-02-22 21:30] mksayorinokareshi opened #35 "Help with a Preset to Halo Infinite!"
My gamer Laptop stop working a week ago and I'm using a normal laptop until I save money for a better laptop, I want to use XCloud to play games like Halo Infinite but XCloud doesn't have support for K&B. Now I want to use this extension to play but the mouse sensitive is a mess and I want to know a good preset to play Halo Infinite fine. How much sensitivity I need to put in-game and in the exten

[2022-02-28 22:13] pitommasi opened #36 "Support for SRWare Iron browser"
## Problem

The SRWare Iron is based on Chrome so the extension is installed correctly bu it doesn't work.

## Suggested solution

The extension works in SRWare Iron

[2022-02-28 22:16] pitommasi opened #37 "Right click mapping doesn't work"
### Bug description

I know that right click button might be tricky to map but it doesn't work:
it gets hooked when I create the configuration but then it doesn't work in the xCloud: the context menu is shown instead...

### Extension Version

2.5

### What browser(s) are you seeing the problem on?

Chrome

### Other browser

_No response_

### Browser version number

98.0.4758.102 official build

[2022-03-02 13:50] ccosta17 opened #38 "Not working at all"
### Bug description

None of my clicks or buttons are registering at all.

### Extension Version

2.5

### What browser(s) are you seeing the problem on?

Chrome

### Other browser

_No response_

### Browser version number

_No response_

[2022-03-02 14:00] #38 closed

[2022-03-08 21:45] idolize commented on #37
@pitommasi interesting, this works correctly for me on Version 99.0.4844.51 on macOS. What operating system are you using? Can you try updating Chrome to the latest version?

[2022-03-17 18:23] theAntiBob commented on #27
Firefox support would be very much appreciated...
xbox.com/play through chromium tells me my controller is disconnected, my network is unsupported and that my browser is supported. continue anyway only renders a black screen. no audio even if the audio indicator on the tab plays
xbox.com/play through firefox tells me that the controller is connected, the network is supported and the browser is uns

[2022-03-29 20:22] t0msk opened #40 "Profile switching using hotkeys"
Hello,

I use Microsoft Edge for playing in XCloud and I use it in kiosk mode so I don't have access to UI elements of browser, so I think it should be great to have access to switch between profiles with hotkeys, without clicking on extension :) For example one hotkey to load profile to left and another hotkey to load profile to right :)

[2022-03-31 20:13] idolize commented on #40
I believe this should be [fairly straightforward to implement using `commands`](https://developer.chrome.com/docs/extensions/reference/commands/#handling-command-events).

I'm curious though - how are you able to set up and configure multiple profiles in the first place if you are in kiosk mode and cannot access the extension's icon and UI?

[2022-03-31 20:32] t0msk commented on #40
I leave kiosk mode and set up everything what I need and then I have shortcut on desktop which will run Edge in kiosk mode right into XCloud, so it looks like "actual app".

[2022-03-31 21:57] idolize commented on #40
Ah pretty cool! Yeah, I can look into adding this in the future. Pretty busy at the moment so no ETA (unless you want to submit a PR)

[2022-04-01 13:26] t0msk commented on #40
Okay :) if you are interested I use these arguments:

`--window-size=1024,640 --force-device-scale-factor=1.2 --device-scale-factor=1.2  --kiosk "https://www.xbox.com/play"`

[2022-04-02 01:41] TOXIIIK opened #41 "Controller and Mouse & Keyboard"
### Bug description

The mouse and keyboard work fine, but now I cannot use my controller. It works outside of the game (i.e. if I press the Xbox button), but I cannot get it to work in-game

### Extension Version

2.6

### What browser(s) are you seeing the problem on?

Chrome

### Other browser

_No response_

### Browser version number

_No response_

[2022-04-02 01:44] TOXIIIK commented on #41
Edit: It works when I first load in, but when I use my mouse to make it full screen I can no longer use the controller.

[2022-04-06 13:30] SchezoWegey opened #42 "Controller stick acts like mouse + allowing controllers to work at the same time."
I don't know if it's even possible, but having the option for the left and right sticks to act like they are being held down would be nice.
For example I play MLB The Show, and the hitting part is on a 2D plane or "Zone" as they call it. Having to flick all the time hurts my wrist lol, plus it makes pitching with the mouse impossible.

Also since the remapping doesn't work like that, when disablin

[2022-04-16 03:55] Vursor opened #43 "Preset for CK3??"
i need a preset for ck3 (preferably similar to the pc version)

[2022-04-18 16:27] idolize commented on #43
Hi! The best place to share presets is in the Discord here https://discord.com/channels/914275689514020924/961378228239478794

[2022-04-18 16:27] #43 closed

[2022-04-19 17:34] martimarkov commented on #13
@idolize I have a Dev Account that I pay for every year and can host the app if you want?

[2022-04-25 08:07] pryan1check opened #44 "Floating area with buttons layout"
## Problem

It is difficult to quickly remember the layout of the buttons, so you often have to open the extension. It is very uncomfortable

## Suggested solution
I propose to make a translucent area in which the layout of the buttons will be displayed.
[example](https://i.ibb.co/2syYxt9/2022-04-25-14-33-29.png)

[2022-04-27 00:39] Purplemango79 opened #45 "Mouse inputs for right stick cancel left stick inputs"
### Bug description

Using mouse for right stick appears to cancel input for left stick (WASD)

### Extension Version

2.6

### What browser(s) are you seeing the problem on?

Other (Please specify)

### Other browser

Opera GX

### Browser version number

_No response_

[2022-04-29 16:11] nycnfc commented on #45
Also having stick inputs cancel each other and also results in resetting the axis 0 position when moving left/right stick at the same time. On Chrome. Example, if I press "left" on both sticks (A and K by default), the first button pressed will move the respective stick and the other stays at 0. But sometimes after releasing, the other stick will now be stuck in the left position so pressing right

[2022-05-05 11:43] unBROken962 commented on #8
I have the same problem, I searched about solves but nobody says a solve for this issue
Not even a clear answer for it

[2022-05-05 17:52] idolize commented on #8
I don't have Kiwi browser or Android, so I have no way of debugging or testing on that kind of device.

As a result, I will not be personally supporting it. But this is open source so feel free to find a solution yourself and submit a pull request.

[2022-05-07 22:21] DarkSaber55 opened #46 "Using mouse lags the game"
### Bug description

When I'm using a usb mouse, the game lags like hell. Not lagging that much when I'm using the trackpad though.

### Extension Version

Version 2.6

### What browser(s) are you seeing the problem on?

Chrome

### Other browser

_No response_

### Browser version number

Version 101.0.4951.54

[2022-05-08 19:33] LourivalFF commented on #34
no open the extension

[2022-05-13 20:12] Edu12579 commented on #46
No extensor do celular o mouse não pega oque eu faço ??..

[2022-05-16 18:57] #46 closed

[2022-05-20 19:09] leem919 opened #47 "Make the mouse right-stick smoother"
Rather than mouse movement making the right stick flick in that direction, it should move the right stick as far as the speed you're moving the mouse. Moving the mouse a little should move the right stick only a little, and moving it quickly should move the right stick all the way in that direction. This would be good for shooters where aiming well with the mouse matters, but instead my character

[2022-05-20 23:43] JWLabsWasTaken opened #48 "Mouse sensitivity too slow"
### Bug description

It might be just me but when I play fortnite, the sensitivity for the mouse-camera is too slow
how do I fix this?

### Extension Version

Version 2.6

### What browser(s) are you seeing the problem on?

Microsoft Edge

### Other browser

_No response_

### Browser version number

_No response_

[2022-05-23 14:14] Swiftoperator opened #49 "Is there a way to hold the right stick at the halfway point? (game controls)"
### Bug description

I'm playing a game on xcloud called skate 3. To do a manual, you have to pull the right stick at the halfway point and keep it there, I tried dragging the mouse slowly but it doesn't work, as it just snaps back into place. It does this repeatedly, not letting me do manuals. Is there a type of feature to keep the right stick at the halfway point? Or is it something you have to

[2022-06-11 10:25] GIACOMO-JPG opened #50 "compatibility with GeForce NOW"
is there any way to make it compatible with geforce now to use it as double movement on mac os?

[2022-06-13 16:28] jonas12721212 opened #51 "Bug vontroles comendos Fortnite"
### Bug description

Comandos atrasados... Por exemplo: Quando viro com o mouse para a direita ele leva 2 segundos para executar o comando, ele leva 2 segundos para virar para a direita... O que fazer?

### Extension Version

2.6

### What browser(s) are you seeing the problem on?

Other (Please specify)

### Other browser

Google Chrome

### Browser version number

102.0.5005.63

[2022-06-13 16:29] jonas12721212 commented on #51
Comandos atrasados...

[2022-06-13 16:29] jonas12721212 commented on #51
Comandos são executados comm atraso...

[2022-06-14 14:56] Kaedh commented on #44
I don't know if the owner is active, but I think is an interesting idea
I can implement.

[2022-06-18 21:56] Kaedh commented on #44
I'll take a look and try to implement a prototype, later we see how it stays.

[2022-06-20 15:39] MFR1337 opened #52 "Scroll on 2 keybinds"
## Problem

i wantet to add scroll to right and left shoulder button

## Suggested solution

Maby add scroll up or scroll down to the sttings so id dosent doubble up

## Additional context

sorry for the bad english
pls put this feature in i nned it for fortnite

[2022-06-21 03:40] cseadon opened #53 "RS button not working"
### Bug description

I can't get the RS button to work, in particular in DOOM (2016) and DOOM Eternal.

I've tried the default mapping, I've tried my own mapping to other buttons - R, E, Q, Right Click (mouse).

None of these seem to do anything.

### Extension Version

2.6

### What browser(s) are you seeing the problem on?

Chrome, Microsoft Edge

### Other browser

_No response_

### Browser ve

[2022-06-21 03:41] cseadon commented on #53
My mistake, I've found the problem

[2022-06-21 03:41] #53 closed

[2022-06-23 13:45] BibliaAberta commented on #27
Up

[2022-06-27 14:42] MrSac0la opened #54 "stop recognizing the games"
### Bug description

this extension is not working when enter in any game it just dont recognize that im in the xcloud or out and dont work
![bug](https://user-images.githubusercontent.com/93526732/175967658-15238ef9-8f8b-438b-8bef-09d62337542c.png)
and is basically that just dont want to work and i cant play without this pls help me

### Extension Version

Keyboard & Mouse For Xbox Xcloud

### Wh

[2022-07-27 01:35] Haisom commented on #44
and also add a hotkey to enable the foating mapping cheat, it's really hard to remember the way you mapped sometimes because almost every game require specific mapping for better suit km&m gameplay! thank you!!! <3

[2022-07-27 01:36] Haisom commented on #52
I really like that suggestion, but maybe beginning with middle mouse button detection is already a start. Mine does not work and it's a must for Watch Dogs 2

[2022-07-27 01:37] Haisom commented on #40
great for games that uses different mapping like Watch Dogs aka walking controllers and vehicle controllers are totally different

[2022-08-05 15:36] anant-k-singh commented on #52
While assigning scroll to controls, it does not differentiate between mouse scroll up and down

[2022-08-08 16:14] idolize commented on #52
Thanks - yes this is something I intend to add shortly.

[2022-08-11 03:39] BoogiePlayzz opened #55 "Stopped working entirely."
### Bug description

So I love this app, and I use it a lot, but it stopped working today. I logged into Xbox, turned on a game, and tried to use my preset, but it said;

Unable to access settings from storage

Error: "IO error: .../LOCK: File currently in use. (ChromeMethodBFE: 15::LockFile::2)"

I don't know why this happened but it did. I would love a way to fix this so I can play again. thank

[2022-08-11 16:22] junaayd123 opened #56 "Sensitivity reversed"
### Bug description

When I move my mouse a little bit, slowly, then the sensitivity is very fast. But when I move my mouse fast, then the sensitivity is slower.

### Extension Version

2.6

### What browser(s) are you seeing the problem on?

Chrome, Microsoft Edge

### Other browser

_No response_

### Browser version number

_No response_

[2022-08-16 14:48] dudududodododedede opened #57 "Joystick support"
For some games like Microsoft Flight Simulator it would be amazing to be able to support USB joysticks or other input peripherals

i.e. the browser-based flight sim geo-fs.com supports USB joysticks thought the browser "GamePad API"  https://gamepad-tester.com/
https://caniuse.com/gamepad

[2022-08-16 16:39] AngusDLX commented on #57
It would be a revolutionary idea for the platform and for the plugin itself. Although keyboard and mouse support is officially coming to XCloud, I believe that any official support for other USB peripherals like joysticks or steering wheels will take time or will be very restricted to XBOX-exclusive peripherals.

This would even add much more to the plugin.

[2022-08-16 16:48] AngusDLX opened #58 "A button to trigger a stick with the mouse"
## Problem

When you play games where you can use the camera to drive or to look around, you can simply press a button to trigger the left stick or the right stick. The problem is that the plugin only lets the mouse control one of the two.

## Suggested solution

The solution would be to use a button that activates one of the sticks so we can use the camera. So for example if I'm playing a racing

[2022-08-17 17:57] 3mrxvv commented on #48
thats with me too

[2022-08-18 21:54] Hikeenn opened #59 "Mouse doesn't want to work in Xcloud"
### Bug description

When I enter a game and I click the mouse button to activate the mouse in the game, nothing happens and I can't use the mouse to control the camera for example, I've tried everything and I can't solve

(I'm trying to do this on mobile)

### Extension Version

2.6

### What browser(s) are you seeing the problem on?

Other (Please specify)

### Other browser

Kiwi Browser

### B

[2022-08-27 01:32] desconhecido22 opened #60 "teste"
## Problem

## Suggested solution

## Alternatives

## Additional context

[2022-08-30 10:10] AzshbknaegtvJNL opened #61 "Occasionally not opening/registering"
### Bug description

When i try to use it with cloud gaming, it just says that i am playing ''none'' even when im trying to play a game.

### Extension Version

2.6

### What browser(s) are you seeing the problem on?

Chrome

### Other browser

_No response_

### Browser version number

_No response_

[2022-09-05 14:11] Beenz101 opened #62 "DRIFTY AS HECK"
### Bug description

feels like using a Nintendo Switch how drifty it is, and no it's not my mouse. please make it smoother on the right stick.

### Extension Version

e

### What browser(s) are you seeing the problem on?

Chrome

### Other browser

_No response_

### Browser version number

full version

[2022-09-08 17:01] wellerson260405 opened #64 "poderia modificar para usar no google stadia também por favor, para jogar PUBG"
## Problem

## Suggested solution

## Alternatives

## Additional context

[2022-09-08 17:02] wellerson260405 opened #65 "could you modify to use on google stadia also please to play PUBG"
## Problem

## Suggested solution

## Alternatives

## Additional context

[2022-09-16 16:21] wellerson260405 opened #67 "VC PODIA COLOCAR RECURSO PARA USAR NO GOOGLE STADIA"

[2022-09-18 22:38] MerBik opened #68 "bug report"
### Bug description

Error: "IO error: .../LOCK: File currently in use. (ChromeMethodBFE: 15::LockFile::2)"

### Extension Version

Version 2.6

### What browser(s) are you seeing the problem on?

Chrome

### Other browser

_No response_

### Browser version number

_No response_

[2022-09-23 08:40] Dabithor commented on #59
I am also having this issue; it seems the extension cannot take control of the mouse as my Tablet recognizes it as basically a finger for the touch controls. I am using Kiwi browser on a Samsung Tab S7+

[2022-09-26 21:53] li755 commented on #55
This happened to me and my friends  too how can we solve it

[2022-09-27 19:31] bo-carey commented on #16
@idolize I would like to take a crack at this if you would have me on as a contributor! I can submit a PR for your review if you are able to!

[2022-09-28 03:02] #25 closed

[2022-09-28 03:02] #11 closed

[2022-09-28 03:03] #33 closed

[2022-09-28 18:34] #16 closed

[2022-09-28 18:34] #28 closed

[2022-09-28 18:35] idolize commented on #16
Thanks for the PR! I've merged the changes, and will work on pushing this change to the Chrome store as a part of the upcoming 3.0 release.

[2022-10-02 18:57] MerBik opened #70 "Bug report"
### Bug description

IO error: .../LOCK: File currently in use. (ChromeMethodBFE: 15::LockFile::2)"

### Extension Version

version 2.6

### What browser(s) are you seeing the problem on?

Chrome

### Other browser

_No response_

### Browser version number

_No response_

[2022-10-03 22:51] idolize commented on #68
Duplicate of https://github.com/idolize/xcloud-keyboard-mouse/issues/68

[2022-10-03 22:51] #68 closed

[2022-10-03 22:51] idolize commented on #70
Duplicate of https://github.com/idolize/xcloud-keyboard-mouse/issues/68

[2022-10-03 22:59] idolize commented on #55
Hi there! This error is coming from Chrome/Windows directly while trying to update settings (not something I can control as an extension author). From my research online, [it seems for others just restarting your computer](https://jasonsavard.com/forum/discussion/6543/receiving-lock-error) [should fix it](https://github.com/darkreader/darkreader/issues/2973).

But, if that does not work please fee

[2022-10-03 23:00] idolize commented on #65
Hi there - I would have considered this, but it looks like Google is set to completely shut down Stadia soon, so I will not be adding support. Thanks for understanding.

[2022-10-03 23:00] idolize commented on #67
Hi there - I would have considered this, but it looks like Google is set to completely shut down Stadia soon, so I will not be adding support. Thanks for understanding.

[2022-10-03 23:00] #67 closed

[2022-10-03 23:00] #65 closed

[2022-10-03 23:00] idolize commented on #64
Hi there - I would have considered this, but it looks like Google is set to completely shut down Stadia soon, so I will not be adding support. Thanks for understanding.

[2022-10-03 23:00] #64 closed

[2022-10-03 23:01] #70 closed

[2022-10-03 23:06] idolize commented on #20
Duplicate of #8

[2022-10-03 23:06] #20 closed

[2022-10-03 23:07] #29 closed

[2022-10-03 23:10] idolize commented on #41
Hi @TOXIIIK have you tried toggling off the mouse and keyboard extension in the popup?

Currently you can only use Controller OR mouse and keyboard, but not both at the same time.

[2022-10-03 23:19] idolize commented on #45
Thanks for the issue report! Just getting to this now.

Not sure I completely understand the conditions where this happens. Are you saying you are mapping left stick movements to one set of keys and right stick movements to another set of keys, and whenever you move left and right sticks at the same time then they conflict?

I will take a closer look.

[2022-10-03 23:26] idolize commented on #47
Hi @leem919 thanks for the input!

This is actually exactly how it works right now - you can make the stick sensitivity "smoother" as you wish my lowering the mouse sensitivity setting in the extension popup settings. It will be less jumpy as you move the mouse -- instead moving the stick proportionally to the velocity of your mouse movement, almost exactly as you describe.

Unfortunately, in my t

[2022-10-03 23:28] idolize commented on #50
Hi @GIACOMO-JPG I'm curious what you mean by "double movement"? Doesn't GeForce NOW already support mouse and keyboard?

I'm open to adding this, but I just want to be sure I understand the use case.

[2022-10-03 23:39] idolize commented on #56
Interesting. What OS/broswer/mouse are you using?

Have you tried on gamepad-tester.com to see how it appears there?

[2022-10-03 23:40] idolize commented on #59
Duplicate of https://github.com/idolize/xcloud-keyboard-mouse/issues/8

[2022-10-03 23:40] #59 closed

[2022-10-03 23:41] #60 closed

[2022-10-03 23:43] idolize commented on #61
I was trying to make it so the extension does not run at all except on xcloud, and with Chrome's new Manifest V3 and the changes to the way the "browserAction" button/popup work makes it a bit buggy to activate properly at times (you can usually fix it by just relaunching Chrome).

This issue should be completely fixed in the next version (3.0) of the extension I will be pushing out shortly as wel

[2022-10-03 23:43] idolize commented on #54
I was trying to make it so the extension does not run at all except on xcloud, and with Chrome's new Manifest V3 and the changes to the way the "browserAction" button/popup work makes it a bit buggy to activate properly at times (you can usually fix it by just relaunching Chrome).

This issue should be completely fixed in the next version (3.0) of the extension I will be pushing out shortly as wel

[2022-10-03 23:46] idolize commented on #61
Duplicate of #34

[2022-10-03 23:46] #61 closed

[2022-10-03 23:46] idolize commented on #54
Duplicate of #34

[2022-10-03 23:46] #54 closed

[2022-10-03 23:48] idolize commented on #48
Try **increasing the stick sensitivity in game and lower the sensitivity in the extension profile** - it actually works much better. I just didn't want to make this the default, as it's not possible for me to automatically adjust the in-game settings on behalf of the user.

[2022-10-03 23:49] idolize commented on #62
Duplicate of https://github.com/idolize/xcloud-keyboard-mouse/issues/48 and https://github.com/idolize/xcloud-keyboard-mouse/issues/47

[2022-10-03 23:49] #62 closed

[2022-10-04 09:13] GIACOMO-JPG commented on #50
It’s like a way to emulate a joystick movement with wasd for better movement in Fortnite [Here an article ](https://www.sportskeeda.com/fortnite/what-double-movement-fortnite-understanding-controller-only-technique)

[2022-10-05 21:23] RobCKnight opened #71 "Keyboard and Mouse Issue on Android using Kiwi browser."
### Bug description

Hi,

The extension installs and the keyboard bit works but I get a message in the middle of the browser window saying click here again to enable?

I can confirm that when in the menu, the keyboard functions are working.

I am using Samsung DeX on a Samsung Android device with a monitor, keyboard and mouse and the Kiwi browser + Chrome Extension.

When in the Game Pad tester, I

[2022-10-05 23:04] #40 closed

[2022-10-05 23:04] #44 closed

[2022-10-05 23:04] #31 closed

[2022-10-05 23:04] #34 closed

[2022-10-05 23:04] #52 closed

[2022-10-05 23:22] idolize commented on #40
FYI @t0msk I've added keyboard shortcuts for next/previous profile as well as hide/show cheatsheet in the latest v3 release of the extension, which is currently in review and should go live soon!

[2022-10-05 23:23] idolize commented on #31
FYI @AndnixSH I've added this in the latest v3 release of the extension, which is currently in review and should go live soon!

[2022-10-05 23:23] idolize commented on #52
FYI @MFR1337 I've added this in the latest v3 release of the extension, which is currently in review and should go live soon!

[2022-10-05 23:23] idolize commented on #44
FYI @pryan1check I've added this in the latest v3 release of the extension, which is currently in review and should go live soon!

[2022-10-08 02:45] Oxdf22 commented on #8
I'm having the same problem and I can't use the mouse normally in kiwi Browser with mouse adapter on mobile

[2022-10-08 17:15] DLGnoir opened #73 "problema no xcloud-teclado-mouse"
## Problem

## Suggested solution

## Alternatives

## Additional context

[2022-10-08 17:18] DLGnoir commented on #73
Olá, boa tarde, estou aqui pra tentar descobrir o que está havendo em relação ao teclado, pois toda hora chega um notificação e faço passo a passo como se pede. Logo em seguida, quando confirmo as edições e finalizo tudo ela não ativa, e fica como se estivesse off. Peço para que resolvam, pois não gastei de dinheiro a toa.

[2022-10-08 17:18] DLGnoir commented on #73
Leia meu comentário por favor !

[2022-10-08 17:33] Oxdf22 opened #74 "I'm having mouse problems in Kiwi Browser"
### Bug description

I tried in several ways to activate the mouse but I couldn't

### Extension Version

3.0

### What browser(s) are you seeing the problem on?

Other (Please specify)

### Other browser

Kiwi Browser Android

### Browser version number

_No response_

[2022-10-08 17:34] Oxdf22 commented on #74
![Uploading Screenshot_20221008-143054.png…]()

[2022-10-08 17:36] Oxdf22 commented on #74
![Screenshot_20221008-143054](https://user-images.githubusercontent.com/115331193/194720367-a6b949ac-af4e-4f21-a472-9a48069144be.png)

[2022-10-09 02:34] cledsonbraga opened #75 "I'm having mouse problems in Opera GX Browser"
### Bug description

I'm having mouse problems in Opera GX Browser

after the last update, I'm having problems with input lag, and very heavy mouse, I paid for the paid version, but it's the same as the free version.

### Extension Version

3.0

### What browser(s) are you seeing the problem on?

Other (Please specify)

### Other browser

Opera GX

### Browser version number

_No response_

[2022-10-09 03:45] junaayd123 commented on #56
I’m using Microsoft edge. I think the reason is because it emulates controller, which if you have a physical controller, has a limit to how far the joy stick can go. The computer gets confused, and slows the sensitivity. I’m going to test an idea I have. I’m going to set the sensitivity to the max in game settings, then in the extension I’m going to set the sensitivity low.

[2022-10-13 15:40] barfin commented on #27
I want this too
i know firefox is not officially supported by microsoft but xcloud works fine for me with firefox on linux without user-agent switcher

[2022-10-15 00:48] idolize commented on #71
Duplicate of #20

[2022-10-15 00:48] #71 closed

[2022-10-15 00:48] idolize commented on #74
Duplicate of #20

[2022-10-15 00:48] #74 closed

[2022-10-17 10:40] ZarkoRashev opened #76 "Sticks should have the option to move incrementally"
## Problem

When I play Microsoft Flight Simulator, controls are super difficult.
If I want to make small turns (for example left or right) I need to press and release 1000 times to keep the direction.
Same with take -off and landing (up and down).
Current problem is that when you press a direction, it works for the time the button is pressed, but when you release it, it goes back to neutral.

##

[2022-10-17 15:30] Lvnalovesyou opened #77 "This isn't working for chromebook users"
### Bug description

When i downloaded this extention the first time on the old version it work but now the new version it don't work for people on chromebook like now when i downloaded the extension it keeps popping up the menu where u have to click understood it just keep showing up for me after i click understood then with the actual extention i set my controls but like when i do that it don't

[2022-10-23 00:13] SPZAnonymous opened #80 "They could put shortcut to turn keyboard and mouse on and off."
They could put a shortcut to disable and activate the keyboard and mouse, because when you will write message in chat, the active keyboard disturbs, then have to disable keyboard manually in the extension menu

[2022-10-23 13:55] hooivork0006 opened #81 "Ability to pay with PayPal"
In my country, The Netherlands, it is far from usual to pay by credit card. Could there be added a way of paying with PayPal (or local payment method iDeal) in stead of only Credit Card? I would love to support this extension!

[2022-10-25 00:06] rfxavier commented on #8
Yes same here kiwi browser seems to be the only option for android that accepts chrome extensions. tested on yandex, not compatible. It would really be nice to make xcloud keyboard mouse extension compatible with kiwi browser.  @idolize

[2022-10-25 12:01] JaafarC opened #82 "using this on xbox remote play"
is there any way of using this on xbox remote play? if not can you make this into an app and use it on the xbox app if that's possible

[2022-11-08 00:16] asklar opened #83 "Extension breaks word selection"
### Bug description

Go to any website, type some words in a textbox, then use ctrl + shift + left/right arrow, to select whole words
Without the extension this works fine,
With the extension installed, this doesn't work (nothing is selected)

Seen on Chrome and Edge.

### Extension Version

3.1

### What browser(s) are you seeing the problem on?

Microsoft Edge

### Other browser

_No response_

[2022-11-16 00:00] unnamed1829 opened #84 "Won't connect to my game."
### Bug description

i have tried a couple of games now not sure if i have missed a step. it wont connect strait to the game i wanna play. (fallout 3, PowerWash Simulator) what would the issue be? if it is me then all good but i cant figure it out. the use button wont light up either

### Extension Version

3.1

### What browser(s) are you seeing the problem on?

Chrome

### Other browser

_No res

[2022-11-16 00:04] unnamed1829 commented on #84
never mind it seems to have fixed iteself i think im the problem :D work great thank you guys

[2022-11-16 00:05] idolize commented on #84
Awesome!

[2022-11-16 00:05] #84 closed

[2022-11-21 14:56] ZarkoRashev commented on #76
Good day SIR!

Any chance you can reply to this if possible?
Happy to "buy you a BIG coffee", just help me play MS Flight Simulator :)

[2022-11-21 15:21] ZarkoRashev commented on #41
Can we make it work both at the same time? Or at least an option to enable/disable working in parallel?
This will allow to use mouse for more precise work and the joystick for the rest.

Thanks!

[2022-11-30 20:22] Tunta1986 commented on #8
https://github.com/idolize/xcloud-keyboard-mouse/issues/8#issuecomment-990657667
Can you help me. How did you fix it?